
.services__container {
  padding-top: 50px;
}

.services__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 45px;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 320px;
  gap: 15px;
  margin: 0 auto;
  padding: 0;
}

.services__link {
  color: white;
  text-decoration: none;
  display: flex;
  width: 360px;
  height: 320px;
  align-items: flex-end;
  position: relative;
  padding: 0 0 10px 7px;
  box-sizing: border-box;
}

.services__link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.services__link_project {
  background-image: url("./project.jpg");
  background-size: 100% 100%;
}

.services__link_delivery {
  background-image: url("./builder.jpg");
  background-size: 100% 100%;
}

.services__name {
  font-weight: 700;
  margin: 0;
  font-size: 20px;
  color: white;
  z-index: 1;
}
