.products {
  width: 100%;
  height: 530px;
  padding: 40px 0;
  background-image: url("./mainphoto_products.png");
  background-repeat: no-repeat;
  display: flex;
  background-size: 100% 100%;
}

.products__container {
  width: 720px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 1;
}

.products__title {
  font-size: 37px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.products__track {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 30px;
  margin: 60px 0;
  padding: 0;
}

.product {
  width: 270px;
  height: 170px;
  border: 1px solid black;
  justify-content: space-between;
  
}


.product__title {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
  z-index: 1;
  /* padding: 0 0 15px 60px; */
}


/* .product__link {
  display: block;
  width: 270px;
  height: 170px;
} */

.product__link {
  color: white;
  text-decoration: none;
  display: flex;
  width: 270px;
  height: 170px;
  align-items: center;
  justify-content: center;
  position: relative;

}

.product__link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

}


.product__link_nastil {
  background-image: url("./main_nastil.jpg");
  background-size: 100% 100%;
}

.product__link_steps {
  background-image: url("./main_steps.jpg");
  background-size: 100% 100%;
}

.product__link_fasteners {
  background-image: url("./main_fasteners.jpg");
  background-size: 100% 100%;
}





/* .product__img {
  width: 100px;
  height: 100px;
  position: absolute;

}
.product__img_img1 {
  width: 270px;
  height: 167px;
  left: 200px;
  top: 340px;

}

.product__img_img2 {
  width: 150px;
  left: 730px;
  top: 210px;
}

.product__img_img3 {
  width: 220px;
    top: 460px;
    left: -300px;
}

.product__img_img4 {
  width: 250px;
    height: 100px;
    top: 10px;
    left: 800px;
}

.product__img_img5 {
  width: 250px;
  height: 100px;
  top: 260px;
  left: -190px;
}

.product__img_img6 {
  width: 280px;
  height: 150px;
  top: 460px;
  left: 780px;
} */


@media screen and (max-width: 768px) {
  .products__container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .products__title {
    width: 100%;
    display: block;
    text-align: center;
  }

  .products__track {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 490px) {
  .products__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .products__title {
    width: 100%;
    display: block;
    text-align: center;
  }

  .products__track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 390px) {
  .products__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .products__title {
    width: 100%;
    display: block;
    text-align: center;
  }

  .products__track {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
