.products {
  width: 100%;
  min-height: 550px;
  padding: 40px 0;
  background-image: linear-gradient(#d7d7d7, #353535);
}

.products__container {
  width: 720px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.products__title {
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.products__track {
  width: 460;
  height: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 30px;
  margin: 60px auto;
}

.product {
  width: 250px;
  height: 150px;
  border: 1px solid black;
}

.product__link_nastil {
  background-image: url(../../picture/city-for-produts.png);
}


.product__link_steps {
  background-image: url(../../picture/lines-for-product.png);
}


.product__link_fastener {
  background-image: url(../../picture/metall-for-products.png);
}


.title {
  text-align: center;
}

.product__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top left;
}

.product__link {
  display: block;
  width: 250px;
  height: 150px;
}



/* .products__picture {

} */
