.svarnoy-nastil {
    width: 100%;
    padding-top: 50px;
 } 

.svarnoy-nastil__container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.svarnoy-nastil__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    margin: 0 0 45px;
}

.svarnoy-nastil__img {
  justify-content: center;
  margin: 0 0 40px 0;
  object-fit: contain;
}

.svarnoy-nastil__description {
    text-align: start;
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
}

.svarnoy-nastil__text {
    font-size: 20px;
}

.svarnoy-nastil__text_marker::before {
    content: "	►";
    line-height: 2;
    color: var(--color-orange);
}