.footer {
    height: 140px;
    background-color: #353434;
    display: flex;
    flex-direction: column;
}

.footer__container {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}


.footer__logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    justify-content: center;
}

.footer__map {
    font-style: normal;
    font-size: small;
    color: orange;


}

.footer__under {
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;

}

.footer__author {
    font-size: 10px;
    line-height: 10px;
    color: white;
}

.footer__condition {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 10px;
    color: white;
    padding: 0 auto;
}

.footer__link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
}


@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;

    }

    .footer__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 -20px 5px 20px;


    }
    
    .footer__map {
        font-style: normal;
        font-size: small;
        margin: 10px 20px 0 5px;
        justify-content: center;

    }

    .footer__under {
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-between;
        padding: 0 -20px 5px 20px;
        
    }

    .footer__condition {
        display: flex;
        text-align: right;
        margin-top: 10px;

    }

    .footer__logo {
        margin: 0 0 0 10px;

}


}

@media screen and (max-width: 490px) {
    .footer {
        display: flex;
        flex-direction: column;

    }

    .footer__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 -20px 5px 20px;


    }
    
    .footer__map {
        font-style: normal;
        font-size: small;
        margin: 10px 20px 0 5px;
        justify-content: center;

    }

    .footer__under {
        display: flex;
        flex-direction: row;
        background-color: black;
        justify-content: space-between;
        padding: 0 -20px 5px 20px;
        
    }

    .footer__condition {
        display: flex;
        text-align: right;
        margin-top: 10px;

    }

    .footer__logo {
        margin: 0 0 0 10px;

}

}

