/* normal styles */ 
@import './normalized.css';

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* variables */
@import './variables.css';

/* ui-kit styles */
@import './content.css';
@import './btn.css';
@import './link.css';
@import './wrapper/wrapper.css';
@import './logo.css';
@import './page-title.css';

/* menu styles */
@import './menu.css';

/* submenu styles */
@import './submenu.css';

/* header styles */
@import './header.css';

@import './page.css';
@import './products.css';
@import './contacts/contacts.css';
@import './footer.css';
@import './services/services.css';
@import './about.css';


body {
    font-family: 'Roboto', sans-serif;
} 

a {
    text-decoration: none;
}


.hidden {
    display: none;
}

li {
list-style-type: none;
}

p {
    margin: 0;
}




