/* normal styles */ 
@import './normalized.css';

/*fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ui-kit styles */
@import './btn.css';
@import './link.css';
@import './wrapper/wrapper.css';
@import './logo.css';

/* menu styles */
@import './menu.css';

/* submenu styles */
@import './submenu.css';

/* header styles */
@import './header.css';

@import './page/page.css';
@import './products/products.css';
@import './footer/footer.css';


body {
    font-family: 'Roboto', sans-serif;
} 

a {
    text-decoration: none;
}


.hidden {
    display: none;
}



