.manufacture {
    padding-top: 50px;
}

.manufacture__container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.manufacture__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px 0 30px 0;
}

.manufacture__subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 10px 0 30px 0;
}

.manufacture-video {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 50px;

}

.video {
    width: 100%;
    height: auto; 
    display: block;
    max-width: 500px;
}

.manufacture__fotos {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin: 0px 0 90px 0;

}

.manufacture__table{
    border: 1px solid black;
    width: 70%;
    margin-top: 20px;
}

td {
    border: 1px solid black;
    text-align: center;
 }

 .manufacture__table_main {
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.manufacture__photo {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.manufacture__photo_steps {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}

.manufacture__photo_variants{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}
/* 
.manufacture__variants{
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

.manufacture__marker::before {
    content: "	►";
    line-height: 2;
    color: var(--color-orange);
}


