.menu__list {
    margin: 0;
    padding: 20px 0;
    list-style: none;

    width: 70%;
    height: 19px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__item {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    color: #ff8c00;;
}


.menu__item_active {
    background-color: #fff;
    color: #d07301;;
}

/* .menu__submenu {} */

.menu__link_with-submenu:hover {
    border-bottom: none;
}


/* 
@media screen and (max-width: 1280px) {
    .menu__list {
        flex: 0 0 25%;
        min-width: 790px;
    }

    .menu__item {
        flex: 0 0 25%;
        min-width: 790px;
}
} */

@media screen and (max-width: 768px) {
    .menu__list{
        position: absolute;
        display: block;
        transition: transform .5s;
        left: -420px;
        top: 0;
        width: 170px;
        height: 270px;
        padding: 60px 20px 5px 20px;
        background-color: none;

    }

    .header.open .menu__list {
        transform: translateX(100%);

    }

}

@media screen and (max-width: 490px) {

    .menu__list {
        display: block;
        position: absolute;
        left: -320px;
        top: 3px;
        width: 140px;
        height: 200px;
        transition: transform .5s;
        background-color: #d3d3d3;
        opacity: 0.6;
        padding: 50px 10px 10px 10px;
        border-radius: 10%;


    }

    .header.open .menu__list {
        transform: translateX(100%);

    }


}