.products {
  width: 100%;
  min-height: 400px;
  padding: 40px 0;
  background-image: linear-gradient(#d7d7d7, #353535);
}

.products__container {
  width: 720px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.products__title {
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.products__track {
  width: 460;
  height: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  gap: 30px;
  margin: 60px 0;
  padding: 0;
}

.product {
  width: 250px;
  height: 150px;
  border: 1px solid black;
  justify-content: space-between;
}

.product__link_nastil {
  display: block;
}

.product__link_steps {
  display: block;
}

.product__link_fastener {
  display: block;
}

.title {
  text-align: center;
  font-size: 23px;
}

/* .product__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: top left;
} */

.product__link {
  display: block;
  width: 250px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .products__container {
    width: 760px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .products__title {
    width: 760px;
    display: block;
    text-align: center;
  }

  .products__track {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 490px) {
  .products__container {
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .products__title {
    width: 480px;
    display: block;
    text-align: center;
  }

  .products__track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 390px) {
  .products__container {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .products__title {
    width: 390px;
    display: block;
    text-align: center;
  }

  .products__track {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
