.servicesDelivery__container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.servicesBlock{
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px grey solid; */
}

.servicesBlock__title {
  display: block;
  height: 60px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  /* padding-top: 20px; */
}

.servicesBlock__description_delivery {
  display: block;
  height: 230px;
  font-size: 20px;
  font-weight: 200;
  text-align: start;
  /* padding-top: 20px; */
}


.delivery__img1 {
  height: 350px;
  width: 350px;
  position: absolute;
  top: 250px;
  left: 10px;
  object-fit: cover;
}

.delivery__img2 {
  height: 350px;
  width: 350px;
  position: absolute;
  top: 250px;
  left: 1070px;
  object-fit: cover;
}
