.steps {
    width: 100%;
    padding-top: 50px;
 } 

.steps__container {
    width: 100%;
    padding: 0 15px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.steps__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin: 30px 0 45px;
}

.steps__img {
  justify-content: center;
  margin: 0 0 40px 0;
  object-fit: contain;

}

.steps__photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.steps__description {
    width: 90%;
    margin: 10px auto 0;
    text-align: center;
}

.steps__text {
    text-align: start;
    width: 95%;
}

.steps__text_marker::before {
    content: "	►";
    line-height: 2;
    color: var(--color-orange);
}