.wrapper {
    width: 100%;
    min-height: 550px;
    background-image: url('../picture/bg-city-for-wrapper.jpg');
    background-repeat: no-repeat;
    display: flex;
    background-size: 100% 100%;
}

.wrapper__container {
    width: 720px;
    margin: 0 auto;
    padding: 0;
}

.wrapper__title {
    margin-top: 70px;
    font-weight: 600;
    font-size: 38px;
    color:  #ff8c00;

}

@media screen and (max-width: 768px) {
    .wrapper__title {
        text-align: center;

}
}

@media screen and (max-width: 490px) {
    .wrapper__title {
        margin-top: 110px;
        font-weight: 600;
        font-size: 38px;
        color:  #ff8c00;
        text-align: center;

}
}


